.que.wordselect input[type=checkbox]{
    display:none;
}
.que.wordselect .selectable{
    cursor:pointer;
    border:solid thin transparent;
    border-radius:0.25em;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    display:inline;
    white-space:nowrap;
}

.que.wordselect .selected{
    background: #cee0f4;
    border-radius:0.25em;
    background-color:#CBCFD4;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border:solid thin black;
    display:inline;
    white-space:nowrap;
   -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
outline:none;
<!--[if IE]>
       background:transparent;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000);
       zoom: 1.009;
 <![endif]-->

}

.que.wordselect .incorrect{
    background-color: #f7d0d0;
    color: #b71c1c;
    text-decoration: line-through;
    border-radius:0.25em;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border:solid thin black;
    display:inline;
    white-space:nowrap;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.que.wordselect .correct{
    background-color: #EEEE22;
    border-radius:0.25em;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border:solid thin;
    white-space:nowrap;
}

.que.wordselect .correctresponse{
    background: #9dd8bb;
    color: #255c41;
    border-radius:0.25em;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border:solid thin black;
    display:inline;
    white-space:nowrap;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
