<section class="list qtype-wordselect-container qtype-wordselect" ion-list *ngIf="question.text || question.text === ''">
    <ion-item text-wrap class="addon-qtype-wordselect-container qtext">

     <p *ngIf="!question.readOnly" class="core-info-card" icon-start>
            <ion-icon name="information-circle"></ion-icon>
            {{ 'plugin.qtype_wordselect.taptoselect' | translate }}
        </p>

        <p><core-format-text [component]="component" [componentId]="componentId" [text]="question.introduction">
        </core-format-text></p>
        <p><core-format-text  [component]="component" [componentId]="componentId" 
            [text]="question.text" (afterRender)="questionRendered()"></core-format-text></p>     
    </ion-item>
</section>
